/*Google Fonts
    font-family: 'Comforter', cursive; /But
    font-family: 'Inconsolata', monospace; /line
    font-family: 'Rubik Beastly', cursive; /shining
    font-family: 'Sedgwick Ave', cursive; /graphiti
*/
/*Main*/
:root {
  --main: #14211a;
  --main1: #49241c;
  --main2: #591818;
  --main3: #8c1111;
  --main4: #bf2011;
}
p {
  margin: 0;
}
a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  color: aqua;
}
a:hover {
  color: white;
}
::selection {
  color: var(--main4);
}
a.knopka {
  color: white; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: var(--main3); /* фон кнопки */
  padding: 0.7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
}

/*BooysStrap*/
.dropdown-toggle::after {
  display: none !important;
}
/*Header*/
header {
  margin-top: 20px;
  color: white;
}
/*Body*/
body {
  color: aqua;
  background-color: var(--main);
  font-family: "Inconsolata", monospace;
}
.Body_Cards {
  margin-top: 20px;
}
/*Text*/
.Text_Game {
  font-family: "Rubik Beastly", cursive;
  font-size: 30px;
  color: var(--main3);
}
.Text_Buity {
  font-family: "Sedgwick Ave", cursive;
  font-size: 20px;
}
input[type="text"]::-webkit-input-placeholder {
  color: black;
  font-family: "Sedgwick Ave", cursive;
}
input[type="text"]::-moz-placeholder {
  color: black;
  font-family: "Sedgwick Ave", cursive;
}
input:focus {
  color: black;
  font-family: "Sedgwick Ave", cursive;
}

/*Images*/
.Ico_Search {
  width: 20px;
}
.Ico_Cross {
  width: 20px;
}
/*Colors*/
.Color1 {
  color: var(--main3);
}
#p_prldr {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  z-index: 30;
}

.contpre small {
  font-size: 25px;
}

.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  color: #fff;
  font-size: 40px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 35px;
}

#p_prldr .svg_anm {
  position: absolute;
  width: 41px;
  height: 41px;
  background: url(images/oval.svg) center center no-repeat;
  background-size: 41px;
  margin: -16px 0 0 -16px;
}
.Prelog_Info {
  font-size: 50px;
}
.marginLeft {
  padding-left: 40px;
  font-size: 40px;
}
.marginTop {
  margin-top: 20%;
}
